@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #0038a8;
  --text-color-1: #ededed;
  --text-color-2: #181414;
  --button-color: #fff80a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color-2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--text-color-1);
  position: relative;
  max-width: 90rem;
  width: 100%;
  border-radius: 0.6rem;
  padding: 3rem;
  margin: 0 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container header {
  position: relative;
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--text-color-2);
}

.container form {
  position: relative;
  margin-top: 1.6rem;
  min-height: 49rem;
  background-color: var(--text-color-1);
  overflow: hidden;
}

form .input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-color-2);
}

.input-box .input-field {
  width: 100%;
}

.field .item {
  width: 100%;
  padding: 1.2rem;
  background: transparent;
  border: 2px solid var(--text-color-2);
  outline: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  color: var(--text-color-2);
  margin: 1.2rem 0;
}

.field.error .item {
  border-color: #d93025;
}

.field .item::placeholder {
  color: var(--text-color-2);
}

.field.error .error-txt {
  display: block;
}

.field .error-txt {
  font-size: 1.45rem;
  color: #d93025;
  text-align: left;
  margin: -0.5rem 0 0rem;
  display: none;
}

form .textarea-field .item {
  resize: none;
  color: var(--text-color-2);
}

form .textarea-field .error-txt {
  margin-top: -1rem;
}

form button {
  padding: 1.2rem 3.2rem;
  background: var(--button-color);
  border: none;
  outline: none;
  border-radius: 0.6rem;
  box-shadow: 0 0 1rem var(--button-color);
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 0.1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.5s;
}

form button:hover {
  box-shadow: none;
}

.swal-custom-size {
  width: 50rem;
  height: auto;
  font-size: 1.5rem;
}
